<h1>{{title}}</h1>
<work-item>
    <ng-container class="title">
        Setup Quantum-Supercomputer
    </ng-container>
    <ng-container class="description">
        Start the engine and boot Operating System. Activate Cooling System and prepare coffee in the meantime. <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus porro at itaque quo, natus laudantium voluptatibus reprehenderit inventore quos. Atque velit, ipsum perspiciatis illo delectus incidunt voluptatibus reprehenderit maiores nihil, suscipit a nobis consectetur molestiae ab sequi excepturi soluta dicta.
    </ng-container>
</work-item>