.card {
    width: 300px;
    margin:30px;
    cursor:pointer;
    height:250px;
    overflow:hidden;
}


.card:hover{
    filter:drop-shadow(0 0 0.75rem #ccc);
}

.input-group {
    margin-bottom: 15px;
}

.input-group:hover {
    filter:drop-shadow(0 0 0.4rem #ccc)
}

.assignee-field{
    height:25px;
    font-size: smaller;
    cursor:pointer;
}

.bi-person-plus-fill {
    font-size: 18px;
}

.input-group-text:hover {
    background-color: #bbb;
}

