.card {
    width: 300px;
    margin:30px;
    cursor: pointer;
}

.card-header {
    font-weight: bold;

}

.card-body {
    height: 150px;
}

.card:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 0.75rem #ccc);
}
